
{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- First Post Container -->
        <div class="col-md-4 mt-3">
            <div class="row div-post">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card-mb-4">
                        <div class="card-body">
                            <!-- Image container that gets a picture uploaded for each post -->
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top mb-3" src="{% static 'images/aed-steak.webp' %}" alt="placeholder image">
                                {% else %}
                                    <img class="card-img-top mb-3" src="{{ post.featured_image.url }}" alt="placeholder">
                                {% endif %}
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2>{{ post.title }}</h2>
                                <p>{{ post.excerpt }}</p>
                            </a>
                            <!-- Post details along with likes/comments -->
                            <p class="text-muted h6 mb-3">
                                {{ post.created_on}} <i class="far fa-heart"></i> {{ post.number_of_likes }} <i class="far fa-comment"></i> {{ post.total_comments }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:6 %}
                </div>
                <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    
        
<div>
    <!-- Page navigation that lets the user go to the next page to view more posts -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Prev</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> Next &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}


