{% extends "base.html" %}

{% load static %}

{% block content %}
<body>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center">
                <h1>Login</h1>   
                    <form method="POST">

                        {% csrf_token %}

                        {{loginform}}

                        <input type="submit" class="btn btn-primary" value="Login">
                    </form>
                </div>
            </div>
        </div>    
    <div class="offset-md-4 custom-container text-center">
        <p>
            Welcome to Delish Dining Delight blog.
            If you want to be able share and express your opinions and thoughts, 
            then please <a href="{% url 'register' %}">sign up</a> first.
        </p>
    
    </div>
</body>
{% endblock %}