{% extends "base.html" %}

{% load static %}

{% block content %}
<body>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h1>Register Now!</h1>   
                    <form method="POST">

                        {% csrf_token %}

                        {{registerform}}

                        <input type="submit" class="btn btn-primary" value="Register">
                    </form>
                </div>
            </div>
        </div>    

    <div class="offset-md-4 custom-container text-center">
        <p>
            Already have an account? <a href="{% url 'my-login' %}">sign in</a>.
        </p>
    
    </div>
</body>
{% endblock %}